<%= require('../partials/header.ejs')() %> <%= require('../partials/hiro.ejs')()
%>

<main id="main" class="container">
  <%= require('../partials/loader.ejs')() %>
</main>

<%= require('../partials/modal.ejs')() %> <%=
require('../partials/clearBasketModal.ejs')() %> <%=
require('../partials/footer.ejs')() %>
